{% load quicklinks_extras %}


{% if listed_groups %}
    <div id="quicklinks_wrap">

        <h3>Quick Links</h3>
        <a href="#"> Show Links</a>

        <ul id="first">
            {% for group in listed_groups %}
                <ul id="second">
                    <strong>{{ group.order_int }}.&nbsp;{{ group.title }}</strong>
                    {% if listed_links %}
                        {% for links in listed_links %}
                            {% if links.quicklinkgroup_id == group.id %}
                                <li><a href="{{ links.url }}">{{ links.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            {% endfor %}
        </ul>



    </div>
{% else %}
    <p>No quick links available.</p>
{% endif %}


<!--
<script type="text/javascript" src="media_files/lib/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="media_files/lib/jquery.ui.js"></script>

<script type="text/javascript" src="media_files/lib/effects.core.js"></script>


<script type="text/javascript" src="media_files/lib/json2.js"></script>
<script type="text/javascript" src="media_files/lib/underscore.js"></script>
<script type="text/javascript" src="media_files/lib/backbone-min.js"></script>

<script type="text/javascript" src="media_files/quicklinks.js"></script>
-->







